$dsenex
$lastdiag
$rij
$esenex
$rundimensions
   natoms=72
   nbf(CAO)=2596
   nbf(AO)=2236
$scfdump
$ricore     3000
$drvopt
cartesian  on
   basis      off
   global     off
   hessian    on
   dipole     on
   nuclear polarizability
$forceupdate
ahlrichs numgeo=0  mingeo=3 maxgeo=4 modus=<g|dq> dynamic fail=0.3
   threig=0.005  reseig=0.005  thrbig=3.0  scale=1.00  damping=0.0
$dft
    functional   b3-lyp
    gridsize   6
    diffuse   5
$subtitle
SP,DFT+Disp/RI,charge 0,c1,pcSseg-3,
$scfiterlimit    100
$coord    file=coord
$jbas    file=auxbasis
$thime    5
$disp3    bj
$charge from ridft
         -6.000 (not to be modified here)
$forceinit on
   diag=default
$scforbitalshift    automatic=.1
$statistics    off
$senex
$esenex
$ecp    file=basis
$interconversion    off
   qconv=1.d-7
   maxiter=25
$optimize
 internal   off
 redundant  off
 cartesian  on
 global     off
 basis      off
$symmetry c1
$tmole
$traloop    12
$basis    file=basis
$scfmo   file=mos
$title    job_SP_55
$atoms
c  1-70                                                                        \
   basis =c def2-TZVP                                                          \
   jbas  =c universal
he 71-72                                                                       \
   basis =he pcSseg-3                                                          \
   jbas  =he universal
$marij
$coordinateupdate
dqmax=0.3
   interpolate  on
   statistics    5
$scfdamp     start=2.700 step=0.050 min=0.100
$operating system    unix
$thize    0.10000000E+10
$scfintunit
unit=30 size=1 file=twoint
$forceapprox    file=forceapprox
$scfdiis
$xctype hybrid-GGA X= 0.20000 (not to be modified here)
$last SCF energy change = -2671.5369
$maxcor   1500 MiB  per_core
$nmr dft shielding constants
    file=shieldings
$nucsel "he"
$scfconv   8
$optinfo       file=optinfo
$hessapprox   file=hessapprox
$user-defined bonds    file=coord
$closed shells
 a       1-215                                  ( 2 )
$energy    file=energy
$grad    file=gradient
$last step     mpshift
$dipole from ridft
  x    -0.06833347034457    y     0.58295903566979    z    -0.11501246333206    a.u.
   | dipole | =    1.5202618348  debye
$orbital_max_rnorm 0.13576070694635E-04
$subenergy  Etot         E1                  Ej                Ex                 Ec                 En                 Disp
-2671.536942403    -25420.74942814     12250.51202425    -291.8527855632    -17.69147935470     10808.62964385    -.3751701752821
$end
